:root {
  --primary-color: #f7f7f7;
  --secondary-color: #d8d8d8;
  --white-color: white;
  --black-color: #0e0222;
  --clean-button-color: #e2e3e3;
  --funct-button-color: #f5eeff;
  --operator-button-color: #ececec;
  --equal-button-color: #9d59ff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: var(--primary-color);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

.container-calculator {
  border: 2px solid var(--secondary-color);
  background-color: var(--white-color);
  width: 450px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

h1 {
  font-size: 2.2rem;
  margin: 80px auto 20px;
}

.header {
  background-color: var(--black-color);
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid var(--black-color);
}

h2 {
  margin-left: 20px;
  font-size: 1.4rem;
  color: var(--white-color);
}

.input-number {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px auto;
  width: 93%;
  padding: 10px;
}

#display {
  font-weight: 700;
  font-size: 1.5rem;
  border: none;
  text-align: right;
  width: 100%;
}

.number-arithmetic-operations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 20px auto 20px;
}

.clean-button,
.funct-button,
.operator-button,
.number-button,
.equal-button,
.zero-button {
  width: 21%;
  padding: 7px;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--white-color);
  transition: 1s;
  margin: 1px;
}

.zero-button {
  width: 43%;
}

.clean-button {
  background-color: var(--clean-button-color);
}

.funct-button {
  background-color: var(--operator-button-color);
}

.operator-button {
  background-color: var(--operator-button-color);
}

.equal-button {
  background-color: var(--equal-button-color);
  color: var(--white-color);
}

.clean-button:hover,
.funct-button:hover,
.operator-button:hover,
.number-button:hover,
.equal-button:hover,
.zero-button:hover {
  filter: brightness(0.9);
}